.MenuBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 116px;
  background-color: #7ed321;
  padding: 0 30px;
}
.MenuBar__menu ul {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   flex-direction: row;
}
.MenuBar__menu ul li {
  list-style-type: none;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  text-transform: capitalize;
  color: white;
}
.MenuBar__menu ul li:hover {
  cursor: pointer;
  border-bottom: 1px solid white;
}
.MenuBar__menu ul li[data-active = 'true'] {
  border-bottom: 1px solid white;
}
.MenuBar__menu ul li:not(:last-child) {
  margin-right: 46px;
}

.Authorization {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.Authorization__login {
  display: flex;
  width: 503px;
  height: 379px;
  background-color: #e990f9;
  border-radius: 44px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* padding: 77px 16px 36px 16px; */
}
.Authorization__login img {
  margin-bottom: 30px;
}
.Authorization__login button {
  width: 151px;
  height: 60px;
  border-radius: 36px;
  border: 3px solid white;
  background-color: inherit;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
}
button:hover {
  cursor: pointer;
}
.JogTrackerMain {
  display: flex;

}
.JogTrackerMain__listJogs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 53px;
}
.JogTracker {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin-bottom: 88px;
}
.JogTracker img {
  margin-right: 45px;
}